<table class="min-w-full bg-white">
    <thead>
        <tr>
            <th class="py-2 px-4 border-b">ID</th>
            <th class="py-2 px-4 border-b">Username</th>
            <th class="py-2 px-4 border-b">Email</th>
            <th class="py-2 px-4 border-b">Last Login</th>
        </tr>
    </thead>
    <tbody>
        {% for user in Users %}
        <tr>
            <td class="py-2 px-4 border-b">{{ user.ID }}</td>
            <td class="py-2 px-4 border-b">{{ user.Username }}</td>
            <td class="py-2 px-4 border-b">{{ user.Email }}</td>
            <td class="py-2 px-4 border-b">{{ user.LastLogin }}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>